{{ title }}

<div class="container">
  <div class="row"
      *ngFor="let row of grid; let y = index"
      >
    <div class="block"
        *ngFor="let block of row; let x = index"
        (click)="blockClicked(x, y)"
        [ngStyle]="{
          'background-color': blockColor(x, y),
        }"
        title="({{x}}, {{y}})"
        >
    </div>
  </div>
</div>


<br>

<button (click)="log()"> Log </button>
<button (click)="applyStep()"> Apply Step </button>

<br>

<p>
  Open list: {{ A.open_list | json }}
</p>
<p>
  Closed list: {{ A.closed_list| json }}
</p>
<!-- <router-outlet></router-outlet> -->
