{{ title }}

<div class="container">
  <div class="row"
      *ngFor="let row of grid; let i = index"
      >
    <div class="block"
        *ngFor="let block of row; let j = index"
        (click)="blockClicked(i, j)"
        [ngStyle]="{
          'background-color': blockColor(i, j),
        }"
        title="({{i}}, {{j}})"
        >
    </div>
  </div>
</div>


<br>

<button (click)="log()"> Log </button>
<button (click)="applyStep()"> Apply Step </button>

<br>

<p>
  Open list: {{ A.open_list | json }}
</p>
<p>
  Closed list: {{ A.closed_list| json }}
</p>
<!-- <router-outlet></router-outlet> -->
