$block-size: 40px;
$block-spacing: 10px;

.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    height: $block-size;
    margin-bottom: $block-spacing;
  }

  .block {
    display: inline-block;
    height: $block-size;
    width: $block-size;

    margin-left: $block-spacing;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.5px solid black;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;

  & > div {
    width: 48%;
  }
  & > div:last-of-type {
    padding-left: 1rem;
    border-left: black solid 1px;
  }
}



/// block specific designs ///

.start-node {
  background-color: cornflowerblue;
  .circle {
    background-color: black;
  }
}

.goal-node {
  background-color: coral;
}

.next-node {
  // background-color: yellow;
  background-color: lightyellow;
  .circle {
    // background-color: black;
    border: 1px solid black;
  }
}

.current-path {
  background-color: steelblue;
  .circle {
    background-color: black;
  }
}

.open-node {
  // background-color: lightgray;
  .circle {
    border: 1px solid black;
  }
}

.closed-node {
  // background-color: dimgray;
  background-color: lightgray;
  .circle {
    // border: 1px solid black;
    background-color: black;
  }
}

.obstacle-node {
  background-color: black;
}


.block .circle {
  height: $block-size / 4;
  width: $block-size / 4;

  margin: $block-size * 3 / 8;

  border-radius: 100%;
  // background-color: black;
}



