$block-size: 40px;
$block-spacing: 10px;

.container {
  .row {
    height: $block-size;
    margin-bottom: $block-spacing;
  }

  .block {
    display: inline-block;
    height: $block-size;
    width: $block-size;

    margin-left: $block-spacing;
    background-color: teal;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  & > div {
    width: 48%;
  }
  & > div:last-of-type {
    padding-left: 1rem;
    border-left: black solid 1px;
  }
}

